.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-left {
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    color: grey;
    border-radius:  30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-left > input {
    border: none;
    width: 100%;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right > h4 {
    margin-left: 10px;
}