.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000;
}

.login > img {
    width: 45%;
    margin-top: 7%;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .login > a {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .login > a {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .login > a {
        font-size: 10px;
    }
}